.globalH2 {
  font-size: clamp(2.5rem, 3.3vw, 3rem);
  color: #545554;
  margin-bottom: 1rem;
}

.redH4 {
  color: #F66E72;
  font-size: clamp(1.4rem, 2vw, 2rem);
  margin-bottom: .5rem;
}

.marginBottom {
  margin-bottom: 1.5rem;
}