.heroContainer {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.imageWrapper {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: black;
    opacity: .3;

}

.heroH1 {
    z-index: 3;
    padding: 0;
    color: #FFFFFF;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
}

.heroP {
    z-index: 3;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 2.7rem;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 1000px) {
    .heroH1 {
        font-size: 3.5rem;
    }
    .heroP {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .heroH1 {
        font-size: 2.5rem;
    }
    .heroP {
        font-size: 1.5rem;
    }
}

